<footer>
    <div id="footer_infos_container">
        <div id="footer_infos_titles">
            <a href="http://taberu.baptistegrimaldi.info/support">Support</a>
            <a href="http://taberu.baptistegrimaldi.info/contact">Contact</a>
            <span>Langues</span>
        </div>
        <div id="footer_infos_descriptions">
            <section class="footer-section__container">
                <span class="footer__section__title">Legal</span>
                <span><a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires#">Les obligations à respecter</a></span>
                <span><a href="/legal">Mention légale</a></span>
                <span class="footer__section__content">
                <span><a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a></span>
                |
                <span><a href="https://www.apache.org/licenses/LICENSE-2.0">Version lisible</a></span>
                </span>
                <span>TaBeRu ©</span>
            </section>
            <section class="footer-section__container">
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Reddit</a>
            </section>
            <section class="footer-section__container">
                <a href="#">Français</a>
                <a href="#">Deutsch</a>
                <a href="#">English</a>
            </section>
        </div>
    </div>
</footer>