<footer>
    <div id="footer_infos_container">
        <div id="footer_infos_titles">
            <a href="http://taberu.baptistegrimaldi.info/support">Support</a>
            <a href="http://taberu.baptistegrimaldi.info/contact">Contact</a>
            <span>Langues</span>
        </div>
        <div id="footer_infos_descriptions">
            <div>
                <span>Section légale</span>
                <span>TaBeRu ©</span>
            </div>
            <div>
                <span>Facebook</span>
                <span>Twitter</span>
                <span>Reddit</span>
            </div>
            <div>
                <span>Français</span>
                <span>Deutsch</span>
                <span>English</span>
            </div>
        </div>
    </div>
</footer>