/*THIS IS THE SASS STYLE SHEET OF THE COMPTE PAGE*/

/*---------IMPORTS----------*/

@import 'style-common';

/*---------GENERAL STUFF----*/

/*--------MAIN----------*/
main {
  height:fit-content;
  padding: 2rem 0 2rem 0;
}

h1 {
  background-color: $taberu-blue;
  width: 90vw;
  margin-left: 10vw;
}

h2, #recipes-single-card-container__content {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

h2 {
  text-align: center;
  padding: 0 2rem;
}

#recipes-single-card-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  #recipes-single-card-container__content {
    width: 70%;
  }
}