/*THIS IS THE SASS STYLE SHEET OF THE COMPTE PAGE*/

/*---------IMPORTS----------*/

@import 'style-common';

/*---------GENERAL STUFF----*/

/*--------MAIN----------*/
main {
  height:fit-content;
  padding: 2rem 0 2rem 0;
}

h1 {
  background-color: $taberu-blue;
  width: 90vw;
  margin-left: 10vw;
}

h2, p {
  text-align: center;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}