/*THIS IS THE SASS STYLE SHEET OF THE REGISTER PAGE*/

/*---------IMPORTS----------*/

@import 'style-common';

/*---------GENERAL STUFF----*/

/*textarea, input { // remove default form/input/textarea style
  outline: none;
  -webkit-appearance: none;
}*/

/*-----------HEADER-----------*/

.authentication-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  h1 {
    padding: 2rem !important;
  }
}

h1 {
  text-align: center;
}

/*-----------MAIN-----------*/

main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  > form {
    margin-top: 15vh
  }
}